gnvoice-web/src/main/webapp/wsdl/ServicioLoginExterno.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ServicioLoginExternoService" targetNamespace="http://bean.gnvoice.gizlocorp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://bean.gnvoice.gizlocorp.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://bean.gnvoice.gizlocorp.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ingresoLoginExterno" type="tns:ingresoLoginExterno"/>
      <xs:element name="ingresoLoginExternoResponse" type="tns:ingresoLoginExternoResponse"/>
      <xs:complexType name="ingresoLoginExterno">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ingresoLoginExternoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ingresoLoginExternoResponse">
    <wsdl:part element="tns:ingresoLoginExternoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ingresoLoginExterno">
    <wsdl:part element="tns:ingresoLoginExterno" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ServicioLoginExterno">
    <wsdl:operation name="ingresoLoginExterno">
      <wsdl:input message="tns:ingresoLoginExterno" name="ingresoLoginExterno"/>
      <wsdl:output message="tns:ingresoLoginExternoResponse" name="ingresoLoginExternoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioLoginExternoServiceSoapBinding" type="tns:ServicioLoginExterno">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ingresoLoginExterno">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ingresoLoginExterno">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ingresoLoginExternoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioLoginExternoService">
    <wsdl:port binding="tns:ServicioLoginExternoServiceSoapBinding" name="ServicioLoginExternoPort">
      <soap:address location="http://localhost:8330/facturacionGPF/ServicioLoginExterno"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>