gnvoice-sca/src/main/resources/wsdl/Factura.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Factura"
	targetNamespace="urn:com.gizlocorp.gnvoice:gnvoice-sca:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="urn:com.gizlocorp.gnvoice:gnvoice-sca:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="urn:com.gizlocorp.gnvoice:gnvoice-sca:1.0"
			targetNamespace="urn:com.gizlocorp.gnvoice:gnvoice-sca:1.0" version="1.0">
			<xs:element name="factura">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="infoTributaria" type="tns:infoTributaria" />
						<xs:element name="infoFactura">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="fechaEmision" type="xs:string" />
									<xs:element name="dirEstablecimiento" type="xs:string" />
									<xs:element minOccurs="0" name="contribuyenteEspecial"
										type="xs:string" />
									<xs:element minOccurs="0" name="obligadoContabilidad"
										type="xs:string" />
									<xs:element name="tipoIdentificacionComprador" type="xs:string" />
									<xs:element minOccurs="0" name="guiaRemision" type="xs:string" />
									<xs:element name="razonSocialComprador" type="xs:string" />
									<xs:element name="identificacionComprador" type="xs:string" />
									<xs:element name="totalSinImpuestos" type="xs:decimal" />
									<xs:element name="totalDescuento" type="xs:decimal" />
									<xs:element name="totalConImpuestos">
										<xs:complexType>
											<xs:sequence>
												<xs:element maxOccurs="unbounded" name="totalImpuesto">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="codigo" type="xs:string" />
															<xs:element name="codigoPorcentaje" type="xs:string" />
															<xs:element name="baseImponible" type="xs:decimal" />
															<xs:element minOccurs="0" name="tarifa" type="xs:decimal" />
															<xs:element name="valor" type="xs:decimal" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="propina" type="xs:decimal" />
									<xs:element name="importeTotal" type="xs:decimal" />
									<xs:element minOccurs="0" name="moneda" type="xs:string" />
									<xs:element minOccurs="0" name="pagos">
										<xs:complexType>
											<xs:sequence>
												<xs:element maxOccurs="unbounded" name="pago">
													<xs:complexType>
														<xs:sequence>															
															<xs:element minOccurs="0" name="formaPago" type="xs:string" />
															<xs:element minOccurs="0" name="total" type="xs:decimal" />
															<xs:element minOccurs="0" name="plazo" type="xs:decimal" />
															<xs:element minOccurs="0" name="unidadTiempo" type="xs:string" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element minOccurs="0" name="compensaciones">
										<xs:complexType>
											<xs:sequence>
												<xs:element maxOccurs="unbounded" name="compensacion">
													<xs:complexType>
														<xs:sequence>															
															<xs:element minOccurs="0" name="codigo" type="xs:decimal" />
															<xs:element minOccurs="0" name="tarifa" type="xs:decimal" />
															<xs:element minOccurs="0" name="valor" type="xs:decimal" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="detalles">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" name="detalle">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="codigoPrincipal" type="xs:string" />
												<xs:element minOccurs="0" name="codigoAuxiliar"
													type="xs:string" />
												<xs:element name="descripcion" type="xs:string" />
												<xs:element name="cantidad" type="xs:decimal" />
												<xs:element name="precioUnitario" type="xs:decimal" />
												<xs:element name="descuento" type="xs:decimal" />
												<xs:element name="precioTotalSinImpuesto" type="xs:decimal" />
												<xs:element minOccurs="0" name="detallesAdicionales">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="unbounded" name="detAdicional">
																<xs:complexType>
																	<xs:sequence />
																	<xs:attribute name="nombre" type="xs:string" />
																	<xs:attribute name="valor" type="xs:string" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="impuestos">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="unbounded" name="impuesto"
																type="tns:impuesto" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element minOccurs="0" name="infoAdicional">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" name="campoAdicional">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="nombre" type="xs:string" />
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" />
					<xs:attribute name="version" type="xs:anySimpleType" />
				</xs:complexType>
			</xs:element>
			<xs:element name="facturaConsultarRequest" type="tns:facturaConsultarRequest" />
			<xs:element name="facturaConsultarResponse" type="tns:facturaConsultarResponse" />
			<xs:element name="facturaProcesarRequest" type="tns:facturaProcesarRequest" />
			<xs:element name="facturaProcesarResponse" type="tns:facturaProcesarResponse" />
			<xs:element name="facturaRecibirRequest" type="tns:facturaRecibirRequest" />
			<xs:element name="facturaRecibirResponse" type="tns:facturaRecibirResponse" />
			<xs:element name="mensajeRespuesta">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="identificador" type="xs:string" />
						<xs:element minOccurs="0" name="mensaje" type="xs:string" />
						<xs:element minOccurs="0" name="informacionAdicional"
							type="xs:string" />
						<xs:element minOccurs="0" name="tipo" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="facturaRecibirRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="comprobanteProveedor"
						type="xs:string" />
					<xs:element minOccurs="0" name="comprobanteProveedorPDF"
						type="xs:string" />
					<xs:element minOccurs="0" name="proceso" type="xs:string" />
					<xs:element minOccurs="0" name="tipo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="facturaRecibirResponse">
				<xs:complexContent>
					<xs:extension base="tns:gizloResponse">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="gizloResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="claveAccesoComprobante"
						type="xs:string" />
					<xs:element minOccurs="0" name="estado" type="xs:string" />
					<xs:element minOccurs="0" name="mensajeCliente" type="xs:string" />
					<xs:element minOccurs="0" name="mensajeSistema" type="xs:string" />
					<xs:element minOccurs="0" name="mensajes">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="mensaje">
									<xs:complexType>
										<xs:sequence>
											<xs:element minOccurs="0" name="identificador"
												type="xs:string" />
											<xs:element minOccurs="0" name="mensaje" type="xs:string" />
											<xs:element minOccurs="0" name="informacionAdicional"
												type="xs:string" />
											<xs:element minOccurs="0" name="tipo" type="xs:string" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="0" name="numeroAutorizacion"
						type="xs:string" />
					<xs:element minOccurs="0" name="fechaAutorizacion" type="xs:dateTime" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="facturaConsultarRequest">
				<xs:sequence>
					<!-- <xs:element minOccurs="0" ref="tns:factura" /> -->
					<xs:element name="ruc" type="xs:string" />
					<xs:element name="claveAcceso" type="xs:string" />
					<xs:element name="secuencial" type="xs:string" />
					<xs:element name="codigoExterno" type="xs:string" />
					<xs:element name="estado" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="infoTributaria">
				<xs:sequence>
					<xs:element name="ambiente" type="xs:string" />
					<xs:element name="tipoEmision" type="xs:string" />
					<xs:element name="razonSocial" type="xs:string" />
					<xs:element minOccurs="0" name="nombreComercial" type="xs:string" />
					<xs:element name="ruc" type="xs:string" />
					<xs:element name="claveAcceso" type="xs:string" />
					<xs:element name="codDoc" type="xs:string" />
					<xs:element name="estab" type="xs:string" />
					<xs:element name="ptoEmi" type="xs:string" />
					<xs:element name="secuencial" type="xs:string" />
					<xs:element name="dirMatriz" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="impuesto">
				<xs:sequence>
					<xs:element name="codigo" type="xs:string" />
					<xs:element name="codigoPorcentaje" type="xs:string" />
					<xs:element name="tarifa" type="xs:decimal" />
					<xs:element name="baseImponible" type="xs:decimal" />
					<xs:element name="valor" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="facturaConsultarResponse">
				<xs:complexContent>
					<xs:extension base="tns:gizloResponse">
						<xs:sequence>
							<xs:element minOccurs="0" name="facturas">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" minOccurs="0"
											ref="tns:factura" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="facturaProcesarRequest">
				<xs:sequence>
					<xs:element minOccurs="0" ref="tns:factura" />
					<xs:element name="codigoExterno" type="xs:string" />
					<xs:element name="correoElectronicoNotificacion" type="xs:string" />
					<xs:element name="identificadorUsuario" type="xs:string" />
					<xs:element name="agencia" type="xs:string" />
					<xs:element name="sid" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="facturaProcesarResponse">
				<xs:complexContent>
					<xs:extension base="tns:gizloResponse">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="consultar">
		<wsdl:part name="facturaConsultarRequest" element="tns:facturaConsultarRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="consultarResponse">
		<wsdl:part name="facturaConsultarResponse" element="tns:facturaConsultarResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="procesar">
		<wsdl:part name="facturaProcesarRequest" element="tns:facturaProcesarRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="procesarResponse">
		<wsdl:part name="facturaProcesarResponse" element="tns:facturaProcesarResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="recibirResponse">
		<wsdl:part name="facturaRecibirResponse" element="tns:facturaRecibirResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="recibir">
		<wsdl:part name="facturaRecibirRequest" element="tns:facturaRecibirRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FacturaPortType">
		<wsdl:operation name="recibir">
			<wsdl:input name="recibir" message="tns:recibir"></wsdl:input>
			<wsdl:output name="recibirResponse" message="tns:recibirResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultar">
			<wsdl:input name="consultar" message="tns:consultar"></wsdl:input>
			<wsdl:output name="consultarResponse" message="tns:consultarResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="procesar">
			<wsdl:input name="procesar" message="tns:procesar"></wsdl:input>
			<wsdl:output name="procesarResponse" message="tns:procesarResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FacturaSoapBinding" type="tns:FacturaPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="consultar">
			<soap:operation soapAction="consultar" style="document" />
			<wsdl:input name="consultar">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="consultarResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="recibir">
			<soap:operation soapAction="recibir" style="document" />
			<wsdl:input name="recibir">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="recibirResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="procesar">
			<soap:operation soapAction="procesar" style="document" />
			<wsdl:input name="procesar">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="procesarResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Factura">
		<wsdl:port name="FacturaPort" binding="tns:FacturaSoapBinding">
			<soap:address
				location="http://localhost:18080/facturacionServiciosGPF/Factura" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
